@model SendGridFluentEmailSender.FirstTemplateModel

@{
    Layout = "_DefaultAppLayout.cshtml";
}

<td style="padding:36px 30px 42px 30px;">
    <table role="presentation" style="width:100%;border-collapse:collapse;border:0;border-spacing:0;">
    <tr>
        <td style="padding:0 0 36px 0;color:#153643;">
        <h1 style="font-size:24px;margin:0 0 20px 0;font-family:Arial,sans-serif;">This is the test email</h1>
        <p style="margin:0 0 12px 0;font-size:16px;line-height:24px;font-family:Arial,sans-serif;">This is a test email using <strong>Twilio SendGrid</strong> and <strong>FluentEmail</strong> created by @Model.Name</p>
        </td>
    </tr>
    </table>
</td>

